@charset "utf-8";

* {
    margin: 0px;
    padding: 0%px;
}

::-webkit-scrollbar {

    width: 0vw;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
background-color: red;
}


